<!DOCTYPE html>
<html>
	<head>	
		<title>Git Profiles</title>
	</head>
	<body> 
			<script type="text/javascript" src="/jquery.js"></script>
			<script type="text/javascript" src="/handlebars.js"></script>
			<script type="text/javascript" src="/victorias-secrets.js"></script>
			<%- body %>
			<script type="text/javascript" src="/interface.js"></script> 
	</body>
</html>